
body {
  padding-top: 50px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.card {
  height: 100%;
}

.navbar-brand{
  margin: right;
  padding-left: 1%;
}

.jumbotron{
  background-image: url("images/logo.jpg");
  background-size: cover;
}

.lead{
color:black;
}

.display-4{
color:black;

}

